.NavBar{
    display: flex;
    justify-content: space-around; 
    inset-inline: 50px;
    margin-top: 50px;
    
    

}
/* Remove underline from all links */
nav{
    border-bottom: 2px solid black; /* Red underline across the bottom of the nav bar */
    padding-bottom: 10px; /* Optional: Adds space between the links and the border */
    
  
}

nav li {
     list-style-type: none; 
     background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

nav a {
    text-decoration: none;
    color:black;
    
  }
  
  /* Add underline when the link is clicked (focus or active) */
  nav a:focus,
  nav a:active {
    text-decoration: underline;
text-decoration-color:red ;
    font-weight: bold;
    
    

  }
    